.wp-caption {
	background-color: #fff;
	text-align: center;
	border: none;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	font-size: 0.90em;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
}

.wp-caption dd {
	color: #555;
	background-color: #f9f9f9;
	font-size: .85em;
	padding: 10px 15px;
	margin: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	line-height: 1.4;
}

.wp-caption dt {
	margin: 0;
}

.wp-caption img {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	max-width: 100%;
	height: auto;
}


.alignleft,
.alignright {
	margin-top: 4px;
}
.alignleft {
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
}
.alignright {
	float: right;
	margin-left: 20px;
	margin-bottom: 15px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
